################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/.vs
/Library/Lib.Domains/obj
/Library/Lib.NugetsPackages/obj
/Library/Lib.Services/obj
/Library/Lib.Web/obj
/Library/Lib.Domains/bin/Debug/netcoreapp3.1
/Library/Lib.NugetsPackages/bin/Debug/netcoreapp3.1
/Library/Lib.Web/bin/Debug/netcoreapp3.1
/Library/Lib.Services/bin/Debug/netcoreapp3.1
/Library/Library.zip
