/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
}

.app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
}

.app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
    z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
    display: block !important;
}

.demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important;
}

.rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
}

[dir='rtl'] .rtl-only {
    display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}

.layout-demo-placeholder img {
    width: 900px;
}

.layout-demo-info {
    text-align: center;
    margin-top: 1rem;
}

.card .dataTables_info, .card .dataTables_paginate, .card .dt-buttons, .card .dataTables_filter {
    padding: 0 0px;
}

.card-header small {
    display: inherit;
    font-size: 13px;
}

.card-header {
    line-height: 22px;
}

.menu-vertical .menu-inner > .menu-item .menu-link {
    margin: 0px;
    border-radius: 0 !important;
    padding: 9px;
}

table.dataTable {
    border: 1px solid #ddd !important
}

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #ddd !important
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    background: transparent !important;
    border: transparent !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button a {
        padding: 10px 10px !important;
        margin: 0;
    }

.dt-buttons {
    margin-bottom: 15px;
}

.form-control-sm {
    padding: 10px 25px;
}

.table-loanedbooks {
    width: 100%;
    border: 1px solid #ddd;
    height: 190px;
    overflow: scroll;
}

    .table-loanedbooks tr th, .table-loanedbooks tr td {
        border: 1px solid #ddd;
    }

        .table-loanedbooks tr td span {
            margin: -1px -11px;
            display: block;
            position: relative;
            vertical-align: top;
        }

            .table-loanedbooks tr td span input[type="checkbox"] {
                opacity: 0;
                width: 0;
                height: 0;
                position: absolute;
            }

                .table-loanedbooks tr td span input[type="checkbox"]:checked + label {
                    background: #8BC34A;
                    border-color: #c7c7c7;
                    color: #fff;
                }

        .table-loanedbooks tr td label {
            position: relative;
            font-size: 13px;
            border: 1px solid #ddd;
            padding: 6px 10px;
            border-radius: 0;
            margin: 0;
            display: inline-block;
            line-height: 18px;
            width: 100%;
        }


.tableFixHead {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .tableFixHead tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 200px;
    }

    .tableFixHead thead tr {
        display: block;
    }

    .tableFixHead th,
    .tableFixHead td {
        padding: 5px 10px;
        width: 269px;
        /* border: none !IMPORTANT; */
        vertical-align: top;
    }

th {
    background: #ABDD93;
}

.controls {
    position: absolute;
    top: 42%;
    left: 46%;
    width: 28px;
    background: #fff;
    border-radius: 3px;
}

.loand_container {
    position: relative;
}

.subscribersBooks * {
}

.subscribersBooks {
    width: 100%;
}

.loanedbook {
    display: flow-root;
    text-align: left;
    padding: 0;
}

    .loanedbook label {
        background: #eee;
        padding: 0 8px;
        font-size: 13px;
        border: 1px solid;
        border-radius: 3px;
        line-height: 20px;
    }

    .loanedbook h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

        .loanedbook h3 small {
            display: block;
        }

.subscribersBooks td {
    padding: 5px 0;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.subscribersBooks tr:first-child td {
    background: #eee;
    padding: 6px 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
