<div class="card">

    <h5 class="card-header">Books <small>
            Search loand books, by enter id, author name and book title
        </small>
    </h5>
   

    <div class="card-body">
        <div class="col-md-12">
            <div class="input-group input-group-merge">
                
                <input type="text"
                       onkeyup="onEnter(event)" id="searchbookid"
                       class="form-control"
                       placeholder="Search..."
                       aria-label="Search..."
                       aria-describedby="basic-addon-search31" />
                <span class="input-group-text" id="basic-addon-search31" onclick="getBooksLoad()">
                   
                        <i class="bx bx-search fs-4 lh-0"></i>
                    
                    
                    </span>
            </div>

           
        </div>

        <div id="booksDynamicContent">
        </div>
    </div>
</div>



@section scripts {
    <script>
        var onEnter = (e, elm) => {
            e.preventDefault();
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode === 13 || e.key === 'Enter') {
                getBooksLoad();
            }
        }
        var getBooksLoad = () => {

            $id = $("#searchbookid").val();

            $.get("/GetBooksLoan/" + $id, (data, status) => {
                debugger;
                $('#booksDynamicContent').html(data);
            }).done((data) => {
            })
                .fail((jqXHR, textStatus, errorThrown) => {
                    debugger;
                    if (typeof jqXHR?.responseJSON?.isSuccess !== "undefined")
                        showWarningToast(jqXHR.responseJSON.message)
                });

        }
    </script>

        }